* {
    -fx-BGColor: #1F082F; /*hsb(270, 100%, 10%);*/
    -fx-secondaryBGColor: #4c1d95; /*hsb(270, 100%, 30%);*/
    -fx-thirdBGColor: #412174; /*hsb(270, 100%, 20%);*/
    -fx-orange: #FF6C00;
    -fx-textColor: white;
    -fx-secondaryTextColor: grey;
}

.mainViewVBox {
    -fx-background-color: black;
}

.root {
    -fx-background-color: -fx-BGColor;
    -fx-alignment: CENTER;
}

.label {
    -fx-font-size: 120%;
    -fx-text-fill: -fx-textColor;
}

.regBtn {
    -fx-background-color: -fx-thirdBGColor;
}

.loginBtn {
    -fx-background-color: -fx-thirdBGColor;
}

.regBtnSelected {
    -fx-background-color: -fx-secondaryBGColor;
}

.loginBtnSelected {
    -fx-background-color: -fx-secondaryBGColor;
}

.submitBtn {
    -fx-background-color: #00b600;
    -fx-font-weight: bold;
}

.regLogBtnContainer {
    -fx-background-color: linear-gradient(from 50% 50% to 50% 49%, -fx-secondaryBGColor, -fx-thirdBGColor);
}

.formContainer {
    -fx-background-color: -fx-secondaryBGColor;
    -fx-padding: 10 10 10 10;
}

.innerInputContainer {
    -fx-spacing: 10;
}

.showPassBtn {
    -fx-background-color: -fx-secondaryTextColor;
    -fx-shape: "M15 12c0 1.654-1.346 3-3 3s-3-1.346-3-3 1.346-3 3-3 3 1.346 3 3zm9-.449s-4.252 8.449-11.985 8.449c-7.18 0-12.015-8.449-12.015-8.449s4.446-7.551 12.015-7.551c7.694 0 11.985 7.551 11.985 7.551zm-7 .449c0-2.757-2.243-5-5-5s-5 2.243-5 5 2.243 5 5 5 5-2.243 5-5z";
    -fx-background-insets: 5 0 5 2;
}

/* SVGs (in .showPassBtn and .showPassBtnClicked) From https://iconmonstr.com/eye-9-svg/ Date: 2022/04/19*/

.showPassBtnClicked {
    -fx-background-color: -fx-textColor;
    -fx-shape: "M15 12c0 1.654-1.346 3-3 3s-3-1.346-3-3 1.346-3 3-3 3 1.346 3 3zm9-.449s-4.252 8.449-11.985 8.449c-7.18 0-12.015-8.449-12.015-8.449s4.446-7.551 12.015-7.551c7.694 0 11.985 7.551 11.985 7.551zm-7 .449c0-2.757-2.243-5-5-5s-5 2.243-5 5 2.243 5 5 5 5-2.243 5-5z";
    -fx-background-insets: 5 0 5 2;

}

.showPassBtn:focused, .showPassBtnClicked:focused {
    -fx-background-insets: 5 0 5 2;
    -fx-background-radius: 5;
}

.check-box {
    -fx-text-fill: white;
}

.invisible {
    visibility: false;
}

.btnContainer .button {
    -fx-background-color: -fx-thirdBGColor;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}

.btnFocus {
    -fx-background-color: -fx-secondaryBGColor !important;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}

.scroll-pane, .scroll-pane .viewport {
    -fx-background-color: transparent;
}

.noteButton {
    -fx-text-fill: -fx-textColor;
    -fx-background-color: -fx-secondaryBGColor;
}

.noteButton:hover {
    -fx-text-fill: -fx-textColor;
    -fx-background-color: -fx-orange;
}

.noteButton, .noteButton:hover {
    -fx-border-insets: 0;
    -fx-font-weight: bold;
    -fx-font-size: 120%;
}

/*region Roundings */

.roundT {
    -fx-background-radius: 10 0 0 0;
}

.roundR {
    -fx-background-radius: 0 10 0 0;
}

.roundB {
    -fx-background-radius: 0 0 10 0;
}

.roundL {
    -fx-background-radius: 0 0 0 10;
}

.roundTR {
    -fx-background-radius: 10 10 0 0;
}

.roundBL {
    -fx-background-radius: 0 0 10 10;
}

.roundTRL {
    -fx-background-radius: 10 10 0 10;
}

.roundTRB {
    -fx-background-radius: 10 10 10 0;
}

.roundTRBL {
    -fx-background-radius: 10 10 10 10;
}
/*endregion*/

/*region Font Sizes*/
.h1 {
    -fx-font-size: 250% !important;
}

.h2 {
    -fx-font-size: 200% !important;
}

.h3 {
    -fx-font-size: 175% !important;
}

.h4 {
    -fx-font-size: 150% !important;
}

.h5 {
    -fx-font-size: 125% !important;
}

.h6 {
    -fx-font-size: 100% !important;
}

.h7 {
    -fx-font-size: 80% !important;
}

.h8 {
    -fx-font-size: 60% !important;
}

/*endregion*/

/*region Text colors*/
.text-primary {
    -fx-text-fill: -fx-textColor;
}

.text-secondary {
    -fx-text-fill: -fx-secondaryTextColor;
}

.text-red {
    -fx-text-fill: #d31c1c;
}

.text-white {
    -fx-text-fill: white;
}
/*endregion*/

/*region Background colors*/
.bg-primary {
    -fx-background-color: -fx-BGColor;
}

.bg-secondary {
    -fx-background-color: -fx-secondaryBGColor;
}

.bg-third {
    -fx-background-color: -fx-thirdBGColor;
}

.bg-transparent {
    -fx-background-color: transparent;
}
/*endregion*/

/*region Paddings*/
.p-1 {
    -fx-padding: 1;
}

.p-2 {
    -fx-padding: 2;
}

.p-3 {
    -fx-padding: 5;
}

.p-4 {
    -fx-padding: 10;
}
/*endregion*/

/*region Margins*/
.mx-auto {
    -fx-start-margin: auto;
    -fx-end-margin: auto;
}
/*endregion*/
