.saveBtn {
    -fx-background-insets: 0;
    -fx-background-radius: 5;
    -fx-background-color: #02b402;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 1.2em;
    -fx-padding: 5 10;
}

.deleteBtn {
    -fx-background-insets: 0;
    -fx-background-radius: 5;
    -fx-background-color: #b61c1c;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 1.2em;
    -fx-padding: 5 10;
}