.label {
    -fx-text-fill: black;
}

.red {
    -fx-background-color: rgb(255, 110, 110);
    -fx-prompt-text-fill: white;
}

.saveBtn {
    -fx-background-insets: 0;
    -fx-background-radius: 5;
    -fx-background-color: #02b402;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 1.2em;
    -fx-padding: 5 10;
}

.text-field {
    -fx-background-insets: 0;
    -fx-background-radius: 3;
    -fx-border-width: 0;
}

.warningLabel {
    -fx-text-fill: red;
    -fx-font-size: 0.9em;
}