.label {
    -fx-text-fill: black;
}

.red {
    -fx-background-color: rgb(255, 110, 110);
    -fx-prompt-text-fill: white;
}

.text-field {
    -fx-background-insets: 0;
    -fx-background-radius: 3;
    -fx-border-width: 0;
}

.warningLabel {
    -fx-text-fill: red;
    -fx-font-size: 0.9em;
}