* {
 -fx-BGColor: #03041A;
 -fx-secondaryBGColor: #190333;
}

.root {
    -fx-padding: 10px;
    -fx-background-color: -fx-BGColor;
}

.label {
    -fx-font-size: 120%;
}

.button {
    -fx-text-fill: white;
}

#regBtn {
    -fx-background-radius: 5 5 0 0;
    -fx-background-color: #272f40;
}

#loginBtn {
    -fx-background-radius: 5 5 0 5;
    -fx-background-color: #1d2631;
}

#submitBtn {
    -fx-background-color: #00b600;
}

.regLogBtnContainer {

}

.formContainer {
    -fx-background-color: linear-gradient(from 50% 49% to 50% 50%, -fx-BGColor, -fx-secondaryBGColor)
}

.test {
    -fx-background-color: black;
}